h1,
h3 {
  text-align: center;
}
#frame {
  font-size: 20px;
}
ul {
  margin-left: 0;
  padding: 15px;
  margin: 10px 0 10px 0;
}
li {
  margin: 10px;
}
.mau {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
#red {
  background-color: red;
  padding: 100px;
  width: 200px;
  border: 4px solid rgb(48, 11, 234);
  border-radius: 10px;
}
#purple {
  background-color: rgb(131, 13, 228);
  padding: 100px;
  width: 200px;
  border: 4px solid rgb(48, 11, 234);
  border-radius: 10px;
}
#green {
  background-color: green;
  padding: 100px;
  width: 200px;
  border: 4px solid rgb(48, 11, 234);
  border-radius: 10px;
}
#yellow {
  background-color: yellow;
  padding: 100px;
  width: 200px;
  border: 4px solid rgb(48, 11, 234);
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .mau {
    flex-direction: column;
    align-items: center;
  }
}
